version: '3.9'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_webrtc
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend

  mongo:
    image: mongo:6.0
    container_name: mongo_webrtc
    restart: always
    environment:
      MONGO_INITDB_DATABASE: ${SPRING_DATA_MONGODB_DATABASE}
    volumes:
      - mongo_data:/data/db
    networks:
      - backend

  webrtc-app:
    build: .
    container_name: webrtc_app
    restart: always
    depends_on:
      - mysql
      - mongo
    env_file:
      - .env
    ports:
      - "${APP_PORT}:${APP_PORT}"
    networks:
      - backend

volumes:
  mysql_data:
  mongo_data:

networks:
  backend:
    driver: bridge
